/* Navbar */
.not-active-page-text, .not-active-page-text:visited, .not-active-page-text:focus{
    color: lightgray;
    font-family: "Lato", sans-serif;
}
.not-active-page-text:hover{
    color: white;
}
.not-active-page-text:active { 
    color: darkgray; 
    font-weight: bold; 
    font-family: "Lato", sans-serif;
}


.active-page-text, .active-page-text:visited, .active-page-text:focus { 
    color: white; 
    font-weight: bold; 
    font-family: "Lato", sans-serif;
}
.active-page-text:hover{ 
    color: lightgray; 
    font-weight: bold; 
}
.active-page-text:active{ 
    color: darkgrey; 
    font-weight: bold; 
    font-family: "Lato", sans-serif;
}


.main-logo, .main-logo:visited, .main-logo:focus{
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-family: "Lato", sans-serif;
}
.main-logo:hover{
    color: lightgray;
}
.main-logo:active{
    color: darkgrey;
}


.btn{
    fill: lightgray;
    transition-duration: 3s;
}
.btn:hover{
    fill: white;
    transition-duration: 3s;
}
.btn:active{
    fill: darkgray;
    transition-duration: 3s;
}

.side-menu-btn{
    fill: lightgray;
    transition-duration: 3s;
}
.side-menu-btn:hover{
    fill: white;
    transition-duration: 3s;
}
.side-menu-btn:active{
    fill: darkgray;
    transition-duration: 3s;
}

/* Background */
body {
    background-color: black;
}

.backdrop{
    transform: translateY(-50px);
}

.backdrop-logo{
    position: absolute;
}

.scroll-btn-square{
    position: absolute;
    top: 70%;
    left: 45%;
    translate: middle;

    height:0;
    width:10%;
    padding-bottom:10%;
}

.scroll-btn, .scroll-btn:visited, .scroll-btn:focus{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;

    color: lightgray;
    opacity: .6;
}
.scroll-btn:hover{
    color: white;
    opacity: 1;
}
.scroll-btn:active{
    color: darkgray;
    opacity: 1;
}

/* Side Menu */
.side-menu-logo{
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: "Lato", sans-serif;
}

.side-menu-link-btn{
    padding-right: 30%;
    fill: black;
    transition-duration: 3s;
}
.side-menu-link-btn:hover{
    fill: gray;
    transition-duration: 3s;
}
.side-menu-link-btn:active{
    fill: darkgray;
    transition-duration: 3s;
}

/* Gallery */
.gallery-grid{
    width: 90%;
    position: relative;
    left: 0;
    transform: translateY(-100px);
}

.gallery-trans{
    opacity: 0;
    transition: 0.2s;
}

.gallery-trans:hover{
    opacity: 1;
}

.gallery-image-overlay{
    top: 0; 
    left: 0; 
    position: absolute; 
    width: 100%; 
    height: 100%;
    background-color: black;
    opacity: 0.2;
}

.gallery-caption-block{
    top: 69.99%; 
    left: 0; 
    position: absolute; 
    width: 100%; 
    height: 40%;
    background-color: black;
    opacity: .8;
    border-radius: 10px;
}

.gallery-caption{
    padding-top: 2px;
    padding-left: 8px;
    font-size: 200%;
    color: white;
    text-overflow: clip;
}

.gallery-row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.gallery-column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
}

.gallery-img {
    margin-top: 4px;
    margin-bottom: 4px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }
}

/* Animation */
.fade-in-opening{
    opacity: 1;
    animation: fadeInLogo 3s;
}

@keyframes fadeInLogo {
    0% { opacity: 0; }
    16.6% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-scroll{
    opacity: 1;
    animation: fadeInScroll 2s;
}

@keyframes fadeInScroll {
    0% { opacity: 0; }
    60% { opacity: 0; }
    100% { opacity: 1; }
}


/* Utility */
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled-right-click {
    pointer-events: none;
}

.scale-for-mobile-text-big{
    font-size: 140%;
}