/* Navbar */

.not-active-page-text, .not-active-page-text:visited{
    color: lightgray;
    font-family: "Lato", sans-serif;
}
.not-active-page-text:hover{
    color: white;
}
.not-active-page-text:active { 
    color: darkgray; 
    font-weight: bold; 
    font-family: "Lato", sans-serif;
}
.not-active-page-text:focus-visible, .not-active-page-text:focus {
    outline: white solid 5px;
    box-shadow: none !important;
}


.active-page-text, .active-page-text:visited, .active-page-text:focus { 
    color: white; 
    font-weight: bold; 
    font-family: "Lato", sans-serif;
}
.active-page-text:hover{ 
    color: lightgray; 
    font-weight: bold; 
}
.active-page-text:active{ 
    color: darkgrey; 
    font-weight: bold; 
    font-family: "Lato", sans-serif;
}
.active-page-text:focus-visible, .active-page-text:focus {
    outline: white solid 5px;
    box-shadow: none !important;
}

.main-logo, .main-logo:visited, .main-logo:focus{
    color: white;
    font-weight: bold;
    font-size: x-large;
    font-family: "Lato", sans-serif;
}
.main-logo:hover{
    color: lightgray;
}
.main-logo:active{
    color: darkgrey;
}
.main-logo:focus-visible, .main-logo:focus {
    outline: white solid 5px;
    box-shadow: none !important;
}


.navLinkBtn{
    fill: white;
}
.navLinkBtn:hover{
    fill: lightgray;
    transition-duration: 3s;
}
.navLinkBtn:active{
    fill: darkgray;
    transition-duration: 3s;
}
.navLinkBtn:focus-visible, .navLinkBtn:focus {
    fill: lightgray;
    outline: white solid 5px;
    box-shadow: none !important;
}



.side-menu-btn{
    fill: white;
    outline-color: white;
    transition-duration: .2s;
    padding-top: 0%;
    padding-bottom: 0%;
    border-inline: 0%;
}
.side-menu-btn:hover{
    fill: lightgray;
    outline-color: white;
    transition-duration: 3s;
}
.side-menu-btn:active{
    fill: darkgray;
    outline-color: white;
    transition-duration: 3s;
}
.side-menu-btn:focus-visible, .side-menu-btn:focus {
    outline: white solid 5px;
    box-shadow: none !important;
}

/* Background */
body {
    background-color: black;
}

.bg-image{
    background-image: url("interface_UI/2048x1152-NoLabel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

@media screen and (max-width: 800px) {
    .bg-image {
        background-image: url("interface_UI/md-NoLabel.png");
    }
}


.backdrop-lines{
    font-size: 5vh;
    color: white;
    font-family: "Lato", sans-serif;

    text-align: center;


    top: 3vh;
    max-height: 75vh;
    position: relative;
}

.backdrop-lines-big{
    font-size: 7vh;
}

@media screen and (max-width: 850px) {
    .backdrop-lines{
        font-size: 4vh;
    }

    .backdrop-lines-big{
        font-size: 6vh;
    }
}


.lil-glow{
    text-shadow: 0 0 5vh #fff;
}
.big-glow{
    text-shadow: 0 0 9vh #fff;
}

.scroll-btn-square{
    width: 10%;
}

.scroll-btn{
    color: lightgray;
    opacity: .6;
    border-radius: 100%;
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-inline: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 8vw;
}
.scroll-btn:hover{
    color: white;
    opacity: 1;
    outline: white solid 5px;
    box-shadow: none !important;
}
.scroll-btn:active{
    color: darkgray;
    opacity: 1;
}
.scroll-btn:focus, .scroll-btn:focus-visible{
    color: darkgray;
    opacity: 1;
    outline: white solid 5px;
    box-shadow: none !important;
}

/* Side Menu */
.side-menu-logo{
    color: black;
    font-weight: bold;
    font-size: x-large;
    max-width: fit-content;
    text-overflow: clip;
    font-family: "Lato", sans-serif;
}
.side-menu-logo:hover{
    color: rgb(90, 90, 90);
}
.side-menu-logo:active{
    color: rgb(50, 50, 50);
}
.side-menu-logo:focus-visible, .side-menu-logo:focus {
    outline: black solid 5px;
    box-shadow: none !important;
}

.side-menu-link-container{
    max-width: 75%;
    justify-content: start; 
    margin-top: 2.5%; 
    margin-left: 5%; 
    display: flex; 
    flex-wrap: wrap;
    gap: 2.5%;
}

.side-menu-link-btn{
    fill: black;
    transition-duration: 0s;
    max-width: fit-content;
    margin: 0;
    padding: 0;
    padding-inline: 0;
}
.side-menu-link-btn:hover{
    fill: rgb(90, 90, 90);
    transition-duration: 3s;
}
.side-menu-link-btn:active{
    fill: rgb(50, 50, 50);
    transition-duration: 3s;
}
.side-menu-link-btn:focus-visible, .side-menu-link-btn:focus {
    fill: rgb(90, 90, 90);
    outline: black solid 5px;
    box-shadow: none !important;
}


.side-menu-exit:focus-visible, .side-menu-exit:focus {
    outline: black solid 5px;
    box-shadow: none !important;
}


/* Gallery */
.gallery-grid{
    left: 0;
    width: 90%;
    gap: 1vh;
    transform: translateY(-10vh);
}
@media only screen and (max-width: 600px)  {
    .gallery-grid{
        flex-wrap: wrap;
    }
}


.gallery-item{
    width: 100%;
    border-radius: 1vw;
    overflow: hidden;

    background-color: none;

    border: 0px;
    padding-inline: 0px;
    padding: 0px;
    transition: outline .2s;
}
.gallery-item:hover{
    outline: white solid 5px;
    box-shadow: none !important;
    z-index: 1;
}
.gallery-item:focus-visible, .gallery-item:focus {
    outline: white solid 5px;
    box-shadow: none !important;
    z-index: 1;
}


.gallery-img{
    width: 100%;
    transition: transform 0.5s;
    transform: scale(100%);
}
.gallery-item:hover .gallery-img{
    transform: scale(101%);
}
.gallery-item:focus-visible .gallery-img, .gallery-item:focus .gallery-img{
    transform: scale(101%);
}

.gallery-card{
    width: 100%;
    min-height: 10vh;
    height: 30%;
    max-height: 40%;

    z-index: 2;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0, .8) 50%, rgba(0,0,0, .6) 100%);
    opacity: 0;
    transition: opacity 0.2s;
    
    text-overflow: ellipsis;
    text-align: start;
    font-size: 1.4rem;
}
.gallery-item:hover .gallery-card{
    opacity: 1;
}
.gallery-item:focus-visible, .gallery-item:focus .gallery-card{
    opacity: 1;
}


@media screen and (min-width: 400px) {
    .gallery-card{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 900px) {
    .gallery-card{
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .gallery-card{
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 400px) {
    .gallery-card{
        font-size: .8rem;
    }
}



.gallery-caption{
    color: white;
    font-family: "Lato", sans-serif;
    
    width:100%;
    height: 100%;

    padding-top: 1%;
    padding-left: 1%;
}


.scroll-up-btn-p{
    width: 5%;
    position: fixed;
    left: 90vw;
    top: 80vh;

    display: none;
}

.scroll-up-btn{
    color: lightgray;
    background-color: rgba(0,0,0,.5);
    opacity: 1;
    border-radius: 100%;
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-inline: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 4vw;
}
.scroll-up-btn:hover{
    color: white;
    opacity: 1;
    outline: white solid 5px;
    box-shadow: none !important;
    background-color: rgb(0,0,0, 1);
}
.scroll-up-btn:active{
    color: darkgray;
    opacity: 1;
}
.scroll-up-btn:focus, .scroll-up-btn:focus-visible{
    color: darkgray;
    opacity: 1;
    outline: white solid 5px;
    box-shadow: none !important;
}


/* Modal */
.imageModalTitle{
    color: black;
    font-weight: bold;
    font-size: x-large;
    font-family: "Lato", sans-serif;
}


.modal-img{
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
}


.carousel-tab:focus-visible{
    outline: white solid 5px;
    opacity: 1;
}
.carousel-tab:active{
    outline: white solid 5px;
    opacity: 1;
}


.cNav-parent:active .carousel-nav{
    outline: white solid 5px !important;
    opacity: 1;
}
.cNav-parent:focus-visible .carousel-nav{
    outline: white solid 5px !important;
    opacity: 1;
}



.plain-btn{
    display: inline-block;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #fff;
    background-color: green;
}


.bhModalBtn{
    color: white;
    background-color: rgb(62, 78, 180);
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    display: block;
}
.bhModalBtn:hover{
    transition: 0.2s;

    color: white;
    background-color: rgb(52, 68, 170);
}
.bhModalBtn:focus-visible{
    color: white;
    background-color: rgb(62, 78, 180);
    outline: rgb(42, 58, 150) solid 5px;
}
.bhModalBtn:active{
    color: white;
    background-color: rgb(42, 58, 150);
    outline: rgb(42, 58, 150) solid 5px;
    box-shadow: inset 0px 0px 0px 2px white;
}
.bhModalBtn-disabled{
    color: white;
    background-color: rgb(120, 120, 120);
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}


.itchModalBtn{
    color: white;
    background-color: rgb(163, 0, 73);
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
    display: block;
}
.itchModalBtn:hover{
    transition: 0.2s;

    color: white;
    background-color: rgb(143, 0, 63);
}
.itchModalBtn:focus-visible{
    color: white;
    background-color: rgb(163, 0, 73);
    outline: rgb(133, 0, 53) solid 5px;
}
.itchModalBtn:active{
    color: white;
    background-color: rgb(133, 0, 53);
    outline: rgb(133, 0, 53) solid 5px;
    box-shadow: inset 0px 0px 0px 2px white;
}
.itchModalBtn-disabled{
    color: white;
    background-color: rgb(120, 120, 120);
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}


.closeModalBtn{
    color: white;
    background-color: black;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    display: block;
}
.closeModalBtn:hover{
    transition: 0.2s;

    color: white;
    background-color: rgb(90, 90, 90);
}
.closeModalBtn:focus-visible{
    color: white;
    background-color: rgb(50, 50, 50);
    outline: black solid 5px;
    box-shadow: inset 0px 0px 0px 2px white;
}
.closeModalBtn:active{
    color: white;
    background-color: rgb(50, 50, 50);
    box-shadow: none !important;
    outline: black solid 5px;
}


.modalClose{
    color: black;
    opacity: 1;
    transition: 0.2s;

    width: 3.2rem !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 3.2rem !important;
    text-align: center;
    padding: 0px;
    font-size: 2rem !important;

    box-shadow: none !important;
}
.modalClose:hover{
    color: rgb(90, 90, 90);
    opacity: 1;
}
.modalClose:active{
    color: rgb(50, 50, 50);
    opacity: 1;
    outline: black solid 5px;
    box-shadow: none !important;
}
.modalClose:focus-visible{
    color: rgb(90, 90, 90);
    outline: black solid 5px;
    box-shadow: none !important;
}


/* Contact Modal */
.contactModalHeader{
    color: black;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}


.contactModalText{
    color: black;
    font-family: "Lato", sans-serif;
    font-size: x-large;

    transform: translateY(-0rem);
    padding-left: .7rem;
}
.contactModalText:focus-visible{
    outline: black solid 5px;
    box-shadow: none !important;
    border: 0px;
}

.contactLinkBox{
    transform: translateY(-.5rem);
    padding-left: 0.3rem;
}


.contactModalLink{
    color: black;
    transition: hover 0.2s;

    width: 3.2rem !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 3.2rem !important;
    text-align: center;
    padding: 0px;
    font-size: 2rem !important;

    box-shadow: none !important;
    border: 0px;
}
.contactModalLink:hover{
    color: rgb(90, 90, 90);
}
.contactModalLink:active{
    fill: rgb(50, 50, 50);
    outline: black solid 5px;
    box-shadow: none !important;
    border: 0px;
}
.contactModalLink:focus-visible{
    fill: rgb(90, 90, 90);
    outline: black solid 5px;
    box-shadow: none !important;
    border: 0px;
}


/* Animation */
.fade-in-opening{
    opacity: 1;
    animation: fadeInLogo 1s;
}

@keyframes fadeInLogo {
    0% { opacity: 0; }
    35% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in-scroll{
    opacity: 1;
    animation: fadeInScroll 2s;
}

@keyframes fadeInScroll {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


/* Utility */
.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled-right-click {
    pointer-events: none;
}

.scale-for-mobile-text-big{
    font-size: 140%;
}

.test:focus-visible, .test:focus {
    outline: red solid 2px;
    box-shadow: none !important;
}